.converter {
    
    &__form {
    max-width: 1000px;
    margin: 0 auto;
    }

    &__label {
        font-weight: bold;
    }
}

.form-control {
    width: 150px;
}

.form-select {
    width: 60px;
}

.btn-light {
    border: 1px black solid;
    line-height: 0;
    padding: 10px;

}

.bi-arrow-left-right {
    width: 16px;
    height: 16px;
}